html {
    height: 100%;
} 

body {
    height: 100%;
}

section {
    height: 100%;
}

#textarea {
    height: calc(100% - 70px);
    word-wrap: break-word;
}

#bottom-container {
    height: 50px;
}