html, body, section {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
}

hr {
    height: 5px;
}

.sticky-header, .sticky-footer {
    flex: 0 0 auto;
}

.sticky-header {
    margin-top: 15px;
}

#textarea {
    height: calc(100% - 50px);
    overflow-y: scroll;
}

#bottom-container {
    height: 1px;
    margin-top: 40px;
}